@@font-face {
  src: url(ja-jp.ttf);
}
/* i downloaded the same font from genshin's UI !! */

html {
  font-size: 14px;
  font-family: 'TT_Skip-E', 'Short Stack',cursive;
;
}

body {
  margin: 50px;
  text-decoration-color: black;
  text-align: justify;
  background-image:url(images/bg1.jpeg);
  background-attachment: fixed;
  background-size: 100%;
}

a{
text-decoration: none;
color:   #00254d;
}
a:hover{
color: #b8daff;
}

.header {
  margin-left: 100px;
  margin-right: 100px;
  display:grid;
  align-content: center;
  justify-content: center;
}

.intro {
  margin-left: 100px;
  margin-right: 100px;
  display:grid;
  align-content: center;
  justify-content: center;
}

.wrapper {
  display: grid;
  margin-top: 0px;
  align-content: center;
  text-align: center;
  grid-gap: 10px;
  grid-template-columns: center;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
  "bio bio"
  "hats comix"
  "sound videoh";
}

.bio{
  grid-area: bio;
}

.hats{
  grid-area: hats;
}

.comix{
  grid-area: comix;
}

.sound{
  grid-area: sound;
}

.videoh{
grid-area: videoh;
}



  @media (max-width: 768px) {
    html {
      font-size: 16px;
    }
    .wrapper {
      position: relative;
      display: block;
      grid-gap: 5px;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
    }


}
